{% extends 'layout.html' %}
{% from 'macros.html' import auction_status, bidding_button, render_field %}

{% block content %}

<h1>Bidding for {{ auction.title }}</h1>

{{ auction_status(auction) }}

<!-- TODO: Protections against XSS forgery -->

<form class="ui form" method="post"
  action="{{ url_for('main.create_bid', auction_id=auction.id) }}">
  <input type="hidden" name="auction_id" value="{{ auction.id }}"/>

  <div class="two fields">
    {{ render_field(form.name, placeholder='이름') }}
    {{ render_field(form.email, placeholder='이메일') }}
  </div>

  {{ render_field(form.price, placeholder=auction.outbidding_price) }}

  <!--
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0">
      <label>경매 규칙을  모두 이해하였으며 이에 동의합니다.</label>
    </div>
  </div>
  -->
  {{ bidding_button(auction, button=True) }}
  <a href="{{ url_for('main.view_auction', auction_id=auction.id) }}"
    class="ui button">상품 설명으로 돌아가기</a>
</form>

{% endblock %}
