{% macro auction_status(auction) %}
<div class="ui segment">
  <div class="ui small statistics">
    <div class="statistic">
      <div class="label">
        Current Price
      </div>
      <div class="value">
        <!-- TODO: Format currency -->
        {{ auction.current_price|format_currency }}
      </div>
    </div>
    <div class="statistic">
      <div class="label">
        # of Bids
      </div>
      <div class="value">
        {{ auction.confirmed_bids.count() }}
      </div>
    </div>
    <!-- TODO: Show remining time or status -->
    <div class="ui statistic">
      <div class="label">
        {%- if auction.ended %}
        Ended
        {%- else %}
        Ends in
        {%- endif %}
      </div>
      {% set delta, unit = auction.remaining|human_readable %}
      <div class="value">
        {{ delta|abs }}
      </div>
      <div style="text-align:center">
        {{ unit }}
        {% if delta < 0 %}ago{% endif %}
      </div>
    </div>
  </div>
</div>
{% endmacro %}
