{% macro auction_status(auction) %}
<div class="ui segment">
  <div class="ui small statistics">
    <div class="statistic {% if auction.confirmed_bids.count() == 0 %}grey{% endif %}">
      <div class="label">
        {%- if auction.ended %}
        Final Price
        {%- else %}
        Current Price
        {%- endif %}
      </div>
      <div class="value">
        <!-- TODO: Format currency -->
        {{ auction.current_price|format_currency }}
      </div>
    </div>

    <div class="statistic">
      <div class="label">
        # of Bids
      </div>
      <div class="value">
        {{ auction.confirmed_bids.count() }}
      </div>
    </div>

    <!-- TODO: Show remining time or status -->
    <div class="ui statistic">
      <div class="label">
        {%- if not auction.started %}
        Starts in
        {%- elif auction.ended %}
        Ended
        {%- else %}
        Ends in
        {%- endif %}
      </div>
      {%- if not auction.started %}
        {% set delta, unit = auction.starts_in|human_readable %}
      {%- else %}
        {% set delta, unit = auction.remaining|human_readable %}
      {%- endif %}
      <div class="value">
        <div class="help" data-content="{{ auction.ends_at|format_datetime }} UTC">
          {{ delta|abs }}
        </div>
      </div>
      <div style="text-align:center">
        {{ unit }}
        {% if delta < 0 %}ago{% endif %}
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro bidding_button(auction, button=False) %}
  {%- if not auction.started %}
    <button class="ui button disabled">경매 시작 전입니다</button>
  {%- elif auction.ended %}
    <button class="ui button disabled">경매가 마감되었습니다</button>
  {%- else %}
    {%- if button %}
      <button class="ui button primary">입찰하기</button>
    {%- else %}
      <a href="{{ url_for('main.create_bid', auction_id=auction.id) }}"
        class="ui button primary">입찰하기</a>
    {%- endif %}
  {%- endif %}
{% endmacro %}

{% macro render_field(field, div_class='field') %}
  <div class="{{ div_class }}">
    {%- if field.label.text %}
      {{ field.label }}
    {%- endif %}
    {{ field(**kwargs)|safe }}
    {{ render_field_errors(field.errors) }}
  </div>
{% endmacro %}

{% macro render_field_errors(errors) %}
  {%- if errors %}
    {%- for error in errors %}
    <div class="ui pointing red basic label">
      {{ error }}
    </div>
    {%- endfor %}
  {%- endif %}
{% endmacro %}

{% macro list_auctions(auctions) %}
  <table class="ui table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Current Price</th>
        <th>Ending Date</th>
      </tr>
    </thead>
    <tbody>
      {%- for auction in auctions %}
      <tr>
        <td>
          <a href="{{ url_for('main.view_auction', auction_id=auction.id) }}">
            {{ auction.title }}
          </a>
        </td>
        <td class="{% if auction.confirmed_bids.count() == 0 %}disabled{% endif %}">
          {{ auction.current_price|format_currency }}
        </td>
        <td>
          {%- if auction.ended %}
          <!-- FIXME: Is there any substitute for 'disable' for <span>? -->
          <span style="color:rgba(40, 40, 40, .3)">Ended</span>
          {%- else %}
          {{ auction.ends_at|format_datetime }} UTC
          {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
{% endmacro %}
