{% extends 'layout.html' %}
{% from 'macros.html' import auction_status, bidding_button %}

{% macro row_class(bid) %}
  {%- if bid.confirmed %}
    {%- if bid == bid.auction.winning_bid %}
      positive
    {%- endif %}
  {%- else %}
    disabled
  {%- endif %}
{%- endmacro %}

{% block content %}

<h1>{{ auction.title }}</h1>

{{ auction_status(auction) }}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="ui info message">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<h2>Bids</h2>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Email</th>
      <th>
        Bidding Price
        <i class="help circle icon" data-html="도움말 준비중..."></i>
      </th>
    </tr>
  </thead>
  <tbody>
    {%- for bid in auction.ordered_bids %}
    <tr class="{{ row_class(bid) }}">
      <td>{{ bid.bids_at|format_datetime }}</td>
      <td>{{ bid.censored_email }}</td>
      <td>
        <i class="icon {{ 'checkmark' if bid.confirmed else 'attention' }}"></i>
        {{ bid.disclosed_price|format_currency }}
      </td>
    </tr>
    {%- endfor %}
  </tbody>
</table>

{{ bidding_button(auction) }}
<a class="ui button"
  href="{{ url_for('main.view_auction', auction_id=auction.id) }}">
  상품 설명으로 돌아가기</a>

{% endblock %}
