{% extends 'layout.html' %}
{% from 'macros.html' import auction_status %}
{% block content %}
<h1 class="ui dividing header">{{ auction.title }}</h1>

{{ auction_status(auction) }}

<!-- NOTE: Can we trust Google Docs...? -->
<p class="ui">
  {{ auction.gdocs_description|safe }}
</p>

<div class="ui divider"></div>

<a href="{{ url_for('main.create_bid', auction_id=auction.id) }}"
  class="ui button primary">입찰하기</a>
<a href="{{ url_for('main.view_auction_bids', auction_id=auction.id) }}"
  class="ui button">진행 상황 보기</a>

{% endblock %}
